h2 {
    text-decoration: underline;
}


.labeled-img {
    text-align: center;
}
.labeled-img img {
    width: 56px;
}

.language {
    padding-top: 10px;
    padding-bottom: 10px;
}

.language.active { 
    background: rgba(200, 200, 200, 0.5);  
}

.language:hover:not([disabled]) {
    background: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}

#back-btn {
    display: inline-block;
    color: rgb(189, 189, 189);
    padding: 5px 5px 5px 10px;
    font-size: 1.6em;
}

#back-btn:hover {
    color: white;
    cursor: pointer;
}


#load-delegates-btn {
    margin-bottom: 30px;
}

.delegate-name {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: pre;
}

.active-mark {
    background: darkgreen;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
}

.active-mark.active {
    display: inline;
}