div {
    border: 1px dashed #AAA;
}

#page-container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.back-input {
    display: none;
}

.active {
    display: inline-block;
}

#timer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#def-time {
    display: block;
    text-align: left;
}

#hr-in, #min-in {
    width: 36%;
}
#in-check {
    width: 25%;
}

#time-lbl {
    display: block;
    text-align: center
}

.curr-speaker {
    background-color: #ccc;
}