* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;
}


.scrollable {
    overflow-y: scroll;
}

#back-btn {
    display: inline-block;
    color: rgb(189, 189, 189);
    padding: 5px 5px 5px 10px;
    font-size: 1.6em;
}

#back-btn:hover {
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    text-align: center;
}

#page-container {
    padding-top: 2%;
    flex-grow: 1;
    padding-bottom: 10px;
}

#page-container > .row {
    height: 100%;
}

.filler-col {
    display: flex;
    flex-flow: column;
}

.back-input {
    display: none;
}

.active {
    display: inline-block;
}

.ui-component {
    border: 2px #084688 solid;
    padding: 10px;
}

.flag-img {
    border: 2px #084688 solid;
    height: 228px;
}

.timer-component {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    border: 2px #084688 solid;
}

.timer-component .back-input {
    max-width: 56px;
}

#def-time {
    display: block;
    text-align: left;
}

#min-in, #sec-in {
    width: 36%;
}
#in-check {
    width: 25%;
}

#time-lbl {
    display: block;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
}

.timer-component .pushed {
    background: red;
}


#speakerList-component {
    flex: 1 1 auto;
}
#speakerList-component .panel {
    height: 100%;
    display: none;
}

#speakerList-component .action-controls {
    display: flex;
    flex-flow: row;
}
#speakerList-component .action-controls * {
    flex: 1 1 auto;
}
#speakerList-component .panel.active {
    display: block;
}

#speakerList-component ol li.active {
    background: #7dacf4;
}

#speakerList-component #search-results li:hover {
    cursor: pointer;
}


.curr-speaker {
    background-color: #ccc;
}

#title-component h2 {
    text-align: center;
    font-size: 2em;
}

.info-box, .state-box {
    padding-top: 5px;
    text-align: center;
    font-size: 1.2em;
    border: 2px #084688 solid;
}

.info-box:hover, .state-box:hover {
    cursor: pointer;
}

.info-box h3 {
    /* font-size: 2em; */
    text-decoration: underline;
}

.info-box .back-section {
    margin-bottom: 10px;
}

.state-box .back-section {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logos-container {
    width: 100%;
    height: 228px;
    background: url('../common/assets/sponsor_logos.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background: #111; */
    color: wheat;
}

#warnings-component {
    margin-top: 10px;
    flex: 1 1 auto;
}

#warnings-component li {
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: 0;
    display: flex;
}

#warnings-component li .col {
    padding: 0;
    margin: 0;
}

.warnings-marks {
    display: inline-block;
}