.container {
    height: 100vh;
  }

  .container > div {
    height: 100%;
  }

  .centered {
    text-align: center
  }

  #config-btn {
    display: inline-block;
    color: rgb(189, 189, 189);
    position: absolute;

    top: 0;
    right: 30px;

    font-size: 2em;
  }

  #config-btn:hover {
    color: black;
    cursor: pointer;
  }

  #resume-btn {
    background-color: rgba(8, 70, 136, 1);
    color: white;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }

  #resume-btn[disabled] {
    background-color: rgba(8, 70, 136, 0.3);
    color: white;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }

  #resume-btn:hover:not([disabled]) {
    background-color: rgb(48, 117, 190);
    cursor: pointer;
  }