<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="un.css">
    <title>UN Interface</title>
</head>
<body>
    <div class="container" id="page-container"> 
        <div class="row">
            <!-- Column 1 -->
            <div class="col-4">
                <!-- UN Committee Flag -->
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_the_United_Nations.svg/2000px-Flag_of_the_United_Nations.svg.png" alt="UN Flag" width="100%">

                <!-- UN Timer -->
                <div id="timer">
                    <span id="def-time">Default: 00:00</span>
                    <input type="number" id="hr-in" class="back-input">
                    <input type="number" id="min-in" class="back-input">
                    <button id="in-check" class=back-input>Ok</button>
                    <span id="time-lbl">10:00s</span>
                    <button id="time-set-btn">Set</button>
                    <button id="time-ctl-btn">Start</button>
                </div>

                <!-- UN Speaker List -->
                <div id="speaker-list" class="container">
                    <div class="row"><div class="col curr-speaker">Alabama</div></div>
                    <div class="row"><div class="col">Mexico</div></div>
                    <div class="row"><div class="col">United States of America</div></div>
                </div>
                <button onclick="backwardCurrent()">Backward</button>
                <button onclick="resetCurrent()">Reset</button>
                <button onclick="forwardCurrent()">Forward</button>
                
                <!-- UN Search Box-->
                <div id="s-country-searcher">
                    <input type="text" placeholder="Country Name" id="search-in">
                    <ul id="search-list">
                        <li>Mexico</li>
                        <li>USA</li>
                        <li>D...</li>
                    </ul>
                </div>

            </div>
            <!-- Column 2 -->
            <div class="col-4">
                <div class="info-box">
                    <h3>Topics:</h3>
                    <div class="front-section">
                        <ul></ul>
                    </div>
                    <div class="back-section">
                        <ul></ul>
                        <button id="add-btn">Add</button>
                        <button id="ok-btn">Ok</button>
                    </div>
                </div>
                <div class="info-box">
                    <h3>Chairs:</h3>
                    <div class="front-section">
                        <ul></ul>
                    </div>
                    <div class="back-section">
                        <ul></ul>
                        <button id="add-btn">Add</button>
                        <button id="ok-btn">Ok</button>
                    </div>
                </div>
                <div class="info-box">
                    <h3>Co-Chairs:</h3>
                    <div class="front-section">
                        <ul></ul>
                    </div>
                    <div class="back-section">
                        <ul></ul>
                        <button id="add-btn">Add</button>
                        <button id="ok-btn">Ok</button>
                    </div>
                </div>

                <div class="state-box">
                    <div class="front-section">
                            <h3>Moderated Caucus</h3>
                    </div>
                    <div class="back-section">
                        <select name="" id="">
                            <option value="Roll Calling">Roll Calling</option>
                            <option value="Draft Resolution">Draft Resolution</option>
                            <option value="Unmoderated Caucus">Unmoderated Caucus</option>
                            <option value="Moderated Caucus">Moderated Caucus</option>
                            <option value="Speaker's List">Speaker's List</option>
                        </select>
                        <button id="ok-btn">Ok</button>
                    </div>
                </div>
            </div>
            <!-- Column 3 -->
            <div class="col-4">
                <div id="warning-info">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">Warning 1</div>
                            <div class="col-4">Warning 2</div>
                            <div class="col-4">Warning 3</div>
                        </div>
                    </div>
                    <p id="warning-text"></p>
                </div>
                
                <div id="delays-info">
                    <ul>
                        <li>10:00am</li>
                    </ul>

                </div>

                <div id="w-country-searcher">
                    <input type="text" placeholder="Country Name" id="search-in">
                    <ul id="search-list">
                        <li>Mexico</li>
                        <li>USA</li>
                        <li>D...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script> if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="jquery.js"></script>
    <script src="un.js"></script>
    <!-- <script>init();</script> -->
    <script>if (window.module) module = window.module;</script>
</body>
</html>